@model trabajo_final_grupo_verde.Models.Producto

@{
    ViewData["Title"] = "Detalle";
}
<link rel="stylesheet" href="~/css/info.css" /><br><br>
<div class="contenido">
<div class="container2">
    <h1 style="text-align: center;">Detalle del Producto</h1><br>
    <div class="card">
        <div class="row">
            <!-- Imagen en la parte superior en dispositivos grandes -->
            <div class="col-lg-6 order-lg-1">
                <div class="card-img-actions">
                    <img class="img-responsive" src="@Model.ImagenURL" alt="Imagen de @Model.Nombre" />
                </div>
            </div>
            <!-- Detalles del producto en la parte inferior en dispositivos grandes -->
            <div class="col-lg-6 order-lg-2">
                <div class="card-body">
                    <h5 class="card-title">@Model.Nombre</h5>
                    <p>@Model.Descripcion</p>
                    <h5 class="card-title">Precio: @Model.Precio</h5>
                    <a class="btn btn-primary" asp-action="Add" asp-route-id="@Model.Id">Agregar al carrito</a>
                </div>
            </div>

        </div>
    </div>
</div>


</div>
