@model IEnumerable<trabajo_final_grupo_verde.Models.Producto>

@{
    ViewData["Title"] = "Index";
}
<br><br>
<th>
<h1 style="text-align: center; font-weight: bold; font-family: Arial, sans-serif;">Lista de Productos</h1>
</th>
<p>
    <a asp-action="Create" style="text-align: center; font-weight: bold; font-family: Arial, sans-serif; color:#750D37;" >Create New</a>
</p>

<link rel="stylesheet" href="~/css/catalogo.css" />
<table  class="table" style="background-color: #985972;">
    <thead>
        <tr>
            <th style="text-align: center; font-weight: bold; font-family: Arial, sans-serif;">
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th style="text-align: center; font-weight: bold; font-family: Arial, sans-serif;">
                @Html.DisplayNameFor(model => model.Precio)
            </th>
            <th style="text-align: center; font-weight: bold; font-family: Arial, sans-serif;">
                @Html.DisplayNameFor(model => model.ImagenURL)
            </th>
            <th style="text-align: center; font-weight: bold; font-family: Arial, sans-serif;">
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td style="text-align: center; font-weight: bold; font-family: Arial, sans-serif;">
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Precio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImagenURL)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" style="text-align: center; font-weight: bold; font-family: Arial, sans-serif; color:#750D37;" >Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id" style="text-align: center; font-weight: bold; font-family: Arial, sans-serif; color:#750D37;" >Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id" style="text-align: center; font-weight: bold; font-family: Arial, sans-serif; color:#750D37;" >Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
